<%
if(value){
%>

<div <%if(value.ux != 'phone'){%>class="top_panel_location" <%}%>onclick="<%=methods.showApps.caller()%>"><%=value.topCenterTitle%></div>
<div class="top_panel_apps">
				<span id="methodDiv_showApps" class="glyphicon glyphicon-th app_icon" style="color: #fff;" onClick="<%=methods.showApps.caller()%>" title="Apps">
				</span></div>
<div class="top_panel_pic"><%=fields.loginUser.here({when: 'self_small'})%></div>
<div class="top_panel_object"><%=fields.notificationBadge.here()%></div>
<div class="top_panel_object"><%=fields.todoBadge.here()%></div>
<div class="top_panel_app"><%=fields.topMenuPanel.here()%></div>
                                                <!-- Menu here -->
<!--
			<div class="info">
				<div style="float:left;padding-top:10px; margin-right:5px; width:80px">
					<%=fields.company.here({when: 'logo'})%>
				</div>
			</div>
			-->

<div class="clear"></div>
<%
}
%>