<h1 class="ci"><img src="/img/common/ci.png"/></h1>
<div class="gnb">
	<ul id="com_menu">	     
	    <li><a href="#self" id="menuSave_<%=objectId%>"><span class="save">Save</span></a> </li>
	    <li><a href="#self" id="menuSaveAs_<%=objectId%>"><span class="save_as">Save As</span></a></li>	    
	    <li><a href="#self" id="menuValidate_<%=objectId%>"><span class="validate">Validate</span></a></li>	    
	    <li><a href="#self" id="menuRun_<%=objectId%>"><span class="run">Run</span></a></li>
	    <li><a href="#self" id="menuDebug_<%=objectId%>"><span class="debug">Debug</span></a></a> </li>
	    <li><a href="#self" id="menuStop_<%=objectId%>"><span class="stop">Stop</span></a></li>
	    <li><a href="#self" id="menuPublish_<%=objectId%>"><span class="publish">Publish</span></a> </li>
	    <li><a href="#self" id="menuTemplate_<%=objectId%>"><span class="template">Template</span></a> </li>
	    <li><a href="#self" id="menuDownload_<%=objectId%>"><span class="download">Download</span></a> </li>
	</ul>
</div>
<div id="globalmenu">	
	<a href="#" class="user" id="login_user"> 홍길동 </a>    	
    <a href="#selft" class="logout_btn" id="menuLogout_<%=objectId%>"><span class="logout">Logout</span>t</a>    
</div>