<!--replace-->

<%
 if(!value.deleted){
%>

<tr id="objDiv_<%=objectId%>">

    <td><%=fields.column.here()%></td>
    <td><%=fields.function.here()%></td>
    <td><%=fields.n.here()%></td>
    <td><%=fields.formula.here()%></td>

</tr>

<%
 }
%>
